@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Nunito:ital,wght@0,300;1,300;1,400&display=swap');

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Nunito', sans-serif; */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient( white, green);
    font-family: "Nunito", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
/* TITLE */
h1 {
    margin: 30px 0 30px 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 4em;
}

/* Instructions style */
header button {
    display: flex;
    width: fit-content;
    font-size: 1.3em;
    padding: 0 3%;
    background-color: rgb(245, 245, 245, 0.3);
    border-radius: 30px;
    border-style:solid;
    border-width: 2px;
    border-color: darkolivegreen;
    text-align: center;
    margin: 10px auto;
    cursor:pointer;
}

header button:hover {
    outline: 2px solid darkolivegreen;
}

.modal {
    display: none; /* hide display by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.hidden-instructions {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 1.5em;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



/* MAIN BODY GAME AREA */
.game-area {
    width: 80%;
    height: fit-content;
    margin: auto;
    text-align: center;
    background-image: radial-gradient( green, yellowgreen, yellow);
    border-radius: 35px;
    border-style: double;
    border-width: 10px;
    border-color: darkseagreen;
    align-items: center;
    justify-content: center;
}

#question {
    margin: 70px 0 35px 0;
    height: 70px;
    font-size: 1.5em;
}

.btn {
    width: 45%;
    height: 70px;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 5px 10px;
    font-size: 1.4em;
    background-color: darkseagreen;
    border-radius: 35px;
    border-style:solid;
    border-width: 2px;
    border-color: darkolivegreen;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover {
    border-width: 4px;
}

.btm-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

/* Submit Answer Button */ 
.submit-btn {
    display: grid;
    top: 30px;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    font-size: 1.3em;
    background-color: lightgreen;
    border-radius: 35px;
    border-style:solid;
    border-width: 2px;
    border-color: darkolivegreen;
    /* font-weight: 700; */
    cursor: pointer;
}

.submit-btn:hover {
    outline: 2px solid darkolivegreen;
}

.start-game {
    display: flex;
    justify-content: center;
    margin: 250px auto;
    font-size: 3.9em;
    font-weight: 700;
    border-width: 4px;
    border-color: black;
    cursor: pointer;
}

.start-game:hover {
    outline: 2px solid black;
}

/* Question Counter */
.question-counter {
    margin: 10px 0 35px 0; 
    padding-bottom: 35px;
    font-size: 1.4em;
    font-weight: 700;
}

.dead-space {
    height: 300px;
}

.hide {
    display: none;
}